<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.interview">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/timg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/timg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dp_px_dip_sp.UnitDemoActivity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".merge_and_viewstub_demo.MergePrincipleActivity" />
        <activity android:name=".view_source_code.ViewSourceCodeDemoActivity" />
        <activity android:name=".layout_performance_comparison.LayoutPerformanceComparison" />
        <activity android:name=".listview_demo.ListViewDemoActivity" />
        <activity android:name=".invalidate_demo.InValidateDemoActivity" />
        <activity android:name=".list.SetPrincipleActivity" />
        <activity android:name=".algorithm.AlgorithmDemoActivity"/>
    </application>

</manifest>